 {% load static %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/x-icon" href="{% static 'templates/base/assets/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap-5.2.3-dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-5.2.3-dist/css/base.css' %}">
    </head>
    <body id="page-top" class="marg-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="/../">?QuiPrendQuoi¿</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/login">Se connecter</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">S'inscrire</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white p-4">
        <div class="container px-4 text-center w-75">
            <h1 class="w-bolder">Créez un groupe,</h1>
            <h2 class="w-bolder">Un évenement,</h2>
            <h2 class="w-bolder">Choisissez vos invités,</h2>
            <h1 class="w-bolder">Le tour est joué ! </h1>
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    </body>